<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: header">
    </head>
    <body>
        <div class="container marTop">
            <div class="container-sm my-auto">
                <h1>
                    <a class="text-dark" href='/'>게시판</a>
                </h1>
                <br/>
                <br/>
                <h4>게시글</h4>
                <br/>

                <form class="form-group">
                    <div class="form-group">
                        <label>글 번호
                            <span th:text="${board.id}"></span>
                        </label>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group border-bottom">
                                <label for="exampleFormControlInput1">제목</label>
                                <span class="form-control-plaintext" th:text="${board.title}"></span>
                            </div>
                            <br/>

                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">내용</label>
                                <textarea class="form-control form-control-plaintext h-25" rows="10"
                                          disabled="disabled"
                                          id="exampleFormControlTextarea1"
                                          th:text="${board.content}"></textarea>
                            </div>
                            <br/>
                            <div>
                                파일
                                <!--                                onclick="onDownload('${board.id}')"-->
                                <a href="#"> <!--${board.filename}--></a>
                            </div>
                        </div>
                    </div>
                </form>

                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="btn" data-toggle="modal" data-target="#deletePost" href="#">
                            글삭제
                        </a>
                        <div class="modal fade" id="deletePost" tabindex="-1"
                             role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <p>게시글을 삭제하시겠습니까?</p>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" data-dismiss="modal"
                                                class="btn btn-secondary">
                                            취소
                                        </button>
                                        <form method="get" th:action="@{/board/delete/{id}(id=${board.id})}">
                                            <button class="btn btn-primary" type="submit">확인</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="btn" th:href="@{/board/update/{id}(id=${board.id})}">글 수정</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-default" href="/">목록으로</a>
                    </li>
                </ul>

                <br/>
                <h5>댓글쓰기</h5>
                <form id="replyField" th:action="@{/reply/new/{id}(id=${board.id})}" method="post">
                    <div class="form-group">
                        <textarea id="replyContent" class="form-control" type="text" name="content" required></textarea>
                    </div>

                    <div class="nav justify-content-end">
                        <button type="submit" class="btn btn-primary">등록</button>
                    </div>
                </form>

                <h6>댓글</h6>
                <table class="table">
                    <tbody th:each="reply,index : ${replyList}">

                        <tr>
                            <td colspan="6" th:text="${index.count}"></td>
                            <td colspan="6" th:text="${reply.content}"></td>
                            <td colspan="6">
                                <!--th:attr="data-target='#modalId' +'${index.count}'"-->
                                <a class="btn" data-toggle="modal"
                                   th:attr="data-target='#modalId' +${index.count}"
                                   href="#">
                                    댓글수정
                                </a>
                                <a class="btn btn-default" href='?'>댓글삭제</a>
                            </td>
                            <div th:id="'modalId' + ${index.count}"
                                 class="modal fade" tabindex="-1"
                                 role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">댓글 수정</h5>
                                        </div>

                                        <form name="reply" method="post"
                                              th:action="@{/reply/update/{id}(id=${reply.id_reply})}">
                                            <div class="modal-body">
                                                <input class="form-control no-border" type="text" name="content"
                                                       cols="90" rows="4"
                                                       th:value="${reply.content}"/>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" data-dismiss="modal"
                                                        data-keyboard="false"
                                                        class="btn btn-secondary">
                                                    취소
                                                </button>
                                                <button class="btn btn-primary" type="submit">확인</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </tr>

                    </tbody>
                </table>

            </div>
        </div>
    </body>
</html>