ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav{
    display: block;
    border-bottom: solid orange 1px;
    position: absolute;
}

.list_nav{
    float:left;
    line-height: 10px;
    font-weight: 900;
}


#wrap{
    width: 1150px;
    height: 850px;
    margin: 0px auto;
    background-color: rgb(46, 48, 58);
}
/* 상단바 관심종목부터 왼쪽에서 정렬 */
.horizontal_left{ 
    float: left;
}
.horizontal_right{
    float: right;
}

#text_right{
    float: right;
    margin-right: 3px;
    font-size: 12px;
}
/* float 한 다음에는 clear both를 해제해야함 : clear both를 부여할 가짜
요소를 만들어준다. container안에 실제로 없는 마지막 박스를 만들고 부여함 */
/* #container:after{
    content:"";
    display: block;
    clear: both;
} */

/* 상단바 기본 스타일*/
.top_nav{
    float: left;
    height: 27px;
    font-weight: 900;
    margin-left: 5px;
    padding-bottom: 1px;
    display: block;
    background-color: rgb(46, 48, 58);
}
.bottom_nav{
    float: left;
    height: 24px;
    font-weight: 500;
    margin: 0;
    padding-bottom: 1px;
    font-size: 13px;
    display: block;
    color: rgb(196, 136, 20);
    padding-left: 5px
}

.rightBtn{
    float: right;
}
.nav_btn{
    font-size: 13px;
    font-weight: 400;
    color: rgb(204, 204, 204);
    background-color: rgb(58, 61, 73);
    border: rgb(26, 25, 27) solid 1px;
    padding: 2px 8px 2px 8px;
    box-shadow: 1px 1px 2px 0px #6c707c inset;
    border-radius: 5%;
    cursor: pointer;
}

.getFocus{
    font-size: 13px;
    font-weight: 400;
    color: white;
    background-color: rgb(80, 46, 190);
    border: rgb(26, 25, 27) solid 1px;
    padding: 2px 8px 2px 8px;
    box-shadow: 1px 1px 2px 0px rgb(122, 77, 254) inset;
    border-radius: 5%;
}

.nav_blue_line{
    padding : 3px 10px 2px;
    font-size: 13px;
    font-weight: 400;
    color: rgb(204, 204, 204); /* 글자색 */
    background-color: rgb(58, 61, 73);
    border: rgb(26, 25, 27) solid 1px;

    box-shadow: 1px 1px 3px #6c707c inset;
    border-radius: 5%;
    cursor: pointer;
}
.getFocus_blue{
    padding : 3px 10px 2px;
    font-size: 13px;
    font-weight: 400;
    color: white; /* 글자색 */
    border: rgb(26, 25, 27) solid 1px;
    background-color: rgb(4, 64, 146);
    box-shadow: 1px 1px 3px rgb(8, 83, 172) inset;
    border-radius: 5%;
}



.next{
    margin: 1px;
    border: 0;
    padding: 0;
    float: right;
}
.previous_btn{
    color: rgb(245, 245, 246);
    margin-top: 5px;
    background-color: rgb(68, 70, 79);
    height: 21px;
    box-shadow: 1px 6px 10px rgb(97, 98, 117) inset;
    height: 24px;
    border-radius: 5%;
    cursor: pointer;
}
.previous_btn:active{
    box-shadow: 1px 1px 1px rgb(78, 77, 77) inset;
}

/* 상단바 클릭했을 때 나타나는 스타일*/
.current {
    background-color: #5330c2;
    color: white;
    box-shadow: 1px 3px 7px 3px rgb(118, 75, 245) inset;
}
.current_blue {
    background-color: rgb(0, 58, 143);
    color: white;
    margin-left: 7px;
    box-shadow: 1px 4px 5px rgb(5, 67, 149) inset;

}
/* 버튼 */
/* 이전/다음 버튼 */
.nextButton {
    font-size: 1px;
    color: rgb(143, 143, 143);
    padding: 2px;
    height: 20px;
    display: block;
    border: 1px solid black;
    background-color: rgb(94, 95, 113);
    width: 20px;
    margin-top: 4px;
    box-shadow: -3px 5px 4px rgb(67, 69, 77) inset;
    cursor: pointer;
}
.nextButton:active {
    box-shadow: 1px 1px 1px gray inset;
}

.nextButton2 {
    font-size: 1px;
    color: rgb(143, 143, 143);
    padding: 2px;
    height: 20px;
    display: block;
    border: 1px solid black;
    background-color: rgb(67, 69, 77);
    width: 20px;
    margin-top: 4px;
    box-shadow: -4px 4px 7px rgb(94, 95, 113) inset;
}
.nextButton2:active {
    box-shadow: 1px 1px 1px gray inset;
}

.nextPage {
    font-size: 12px;
    font-weight: 900;
    color: white;
    padding-left: 11px;
    padding-right: 11px;
    height: 24px;
    display: block;
    margin-top: 5px;
    padding-top: 0px;
    background-color: #474a53;
    margin-right: 4px;


    box-shadow: 1px 6px 10px rgb(97 98 117) inset;
    height: 24px;
    padding-top: 1px;
    border-radius: 5%;
}
.nextPage:active{
    box-shadow: 1px 1px 1px gray inset;
}

.possible_btn {
    font-size: 12px;
    font-weight: 400;
    color: white;
    padding-left: 9px;
    padding-right: 9px;
    height: 21px;
    display: block;
    margin-top: 6px;
    margin-left: 4px;
    padding-bottom: 2px;
    padding-top: 0px;

    background-color: rgb(68, 70, 79);
    border-radius: 5%;
    box-shadow: 1px 2px 5px rgb(97 98 117) inset;
    border: 1px solid black;

    cursor: pointer;
}

.possible_btn:active{
    box-shadow: 1px 1px 1px gray inset;
}
.sell_btn{
    font-weight: 400;
    font-size: 13px;
    background-color: rgb(2, 59, 140);
    margin: 3px 0px 1px 118px;
    width: 70px;
    height: 24px;
    color: white;
    padding-left: 1px;
    padding-right: 1px;
    border: 1px solid black;
    box-shadow: 1px 2px 5px rgb(32, 131, 202) inset;
    border-radius: 8%;
    cursor: pointer;
}
.sell_btn:active{
    box-shadow: 1px 1px 1px gray inset;
}
.erase_btn{
    font-weight: 400;
    font-size: 13px;
    background-color: #474a53;
    margin: 3px 0px 1px 0px;
    width: 70px;
    height: 24px;
    color: white;
    border: 1px solid black;
    box-shadow: 1px 2px 6px #6c707c inset;
    border-radius: 8%;
    cursor: pointer;
}
.erase_btn:active{
    box-shadow: 1px 1px 1px gray inset;
}
/* 조회 버튼 */
.lookupButton{
    float: right;
    font-weight: 900;
    padding: 0;
    background-color: rgb(230, 133, 26);
    margin : 6px 5px 5px 3px;
    width : 44px;
    color: black;
    border: 1px solid rgb(95, 66, 38);
    height: 22px;
    font-size: 13px;
    box-shadow: 1px 5px 4px rgb(244, 167, 17) inset;
    cursor: pointer;
}
.lookupButton:active{
    box-shadow: 1px 1px 1px gray inset;
}
#lookupButton2{
    float: right;
    font-weight: 900;
    font-size: 12px;
    padding: 8px 9px 5px 10px;
    background-color: rgb(230, 133, 26);
    margin: 12px 7px 2px 3px;
    width: 48px;
    height: 39px;
    color: black;
    border: 1px solid rgb(95, 66, 38);
    box-shadow: 1px 5px 4px rgb(244, 167, 17) inset;
    cursor: pointer;
}
#lookupButton2:active{
    box-shadow: 1px 1px 1px gray inset;
}
.button{
    padding: 1px;
    font-size: 13px;
}
.buttonRegist{
    width: 90px;
    color: white;
    border: 1px solid black;
    font-weight: 100;
    font-size: 12px;
    padding-left: 4px;
    padding-right: 2px;
    margin-right: 20px;
    margin-left: 5px;
    margin-top: 5px;
    background-color: #474a53;
    height: 21px;
    box-shadow: 1px 6px 10px rgb(98, 100, 119) inset;
    cursor: pointer;
}
.buttonRegist:active{
    box-shadow: 1px 1px 1px gray inset;
}

/* 4개 박스로 나누기 */
.wrap-box{
    position : absolute;
    width : 1150px;
}
.left-box {
    width: 65.7%;
    float: left;
  }
.right-box {
    width: 33.2%;
    float: right;
  }
.top{
    width: 99%;
    height: 475px;
    background-color: rgb(46, 48, 58);
    border: 1px solid rgb(39, 41, 49);
}
.bottom{
    margin-top: 10px;
    background-color: rgb(46, 48, 58);
    border: 1px solid rgb(39, 41, 49);
    height: 335px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 2px;
    padding-right: 2px;
    box-shadow: 1px 2px 1px rgb(56, 59, 72) inset;
}

  /* 상단바 스타일 지정 */
#bar_top{
    width: 99.5%;
    height: 27px;
    margin-top: 20px;
    margin-bottom: 7px;
    background-color: rgb(46, 48, 58);
}

#bar_top2{
    height: 20px;
    padding: 1px;
    margin-bottom: 5px;
}

#bar_top3{
    height: 20px;
    padding: 1px;
    margin-top: 20px;
    margin-bottom: 11px;
}

#bar_bottom{
    height: 20px;
    padding: 0;
}
#bar_top_blue{
    height: 20px;
    padding: 0;
    margin-bottom: 3px;
}
/* 중간바 스타일 2 */
#bar_middle{
    height: 30px;
    padding: 0;
}
#bar_middle2{
    height: 62px;
    width: 99%;
    padding: 0;
    background-color: rgb(46, 48, 58);
    border: 1px solid rgb(39, 41, 49);
    box-shadow: 1px 1px 4px rgb(61, 64, 78) inset;
}
#bar_blue{
    height: 300px;
}
.interest{
    width: 98.5%;
    border: 1px solid rgb(39, 41, 49);
    height: 34px;
    line-height: 15px;
    margin-left: 7px;
    background-color: rgb(46, 48, 58);
    box-shadow: 1px 1px 1px rgb(54, 57, 71) inset;
}


.interest2{
    width: 99%;
    height: 33px;
    line-height: 12px;
    float: left;
    border: 1px solid rgb(39, 41, 49);
    background-color: rgb(46, 48, 58);
    box-shadow: 1px 2px 2px rgb(54, 57, 71) inset;
}

.interest4{
    display: block;
    width: 753px;
    background-color: #f1f1f1;
    border: 1px solid rgb(218, 218, 218);
    height: 60px;
    line-height: 15px;
    margin-bottom: 10px;
}

#interest5{
    display: block;
    width: 50px;
    font-size: 11px;
    font-weight: 900;
    border: 1px solid rgb(218, 218, 218);
    height: 20px;
    line-height: 40px;
    margin-left: 5px;
    color: rgb(75, 75, 75);
}
/* .dang{
    display: block;
    position: absolute;
    top: ;
} */

.right_middlebar{
    width: 380px;
    background-color: #f1f1f1;
    height: 26px;
    line-height: 15px;
}

.blue_middlebar{
    width: 100%;
    height: 280px;
    line-height: 15px;
}

  /* 중간바 스타일 지정 */
.middleBar{
      display: block;
      background-color: #f1f1f1; /*바탕색*/
      /* border-top: 10px solid white;
      border-bottom: 10px solid white; */
      height: 22px;
      border: 1px solid rgb(216, 216, 216);
      margin: 5px 0px 5px;
      font-size: 5px;
      font-weight: 900;
      color: rgb(92, 92, 92);
 }
 .middleBar.left{
    width: 753px;
 }
 .middleBar.right{
    width: 380px;
 }

 /* 드롭다운 박스 */
 select{
     height: 18px;
     color: white;
     font-size: 11px;
     font-weight: 400;
     margin: 0px;
 }
 .drop_down{
    margin-top: 5px;
    width: 153px;
    height: 22px;
    background-color: rgb(52, 54, 66);
    border: 1px solid black;
    box-shadow: 1px 1px 1px rgb(67, 69, 84) inset;
    cursor: pointer;
 }

 .drop_down2 {
    width: 106px;
    height: 22px;
    margin-top: 4px;
    margin-right: 3px;
    background-color: #323540;
    border: 1px solid black;
    font-weight: 400;
    color: white;
}

 .drop_down3 {
    width: 90px;
    color: white;
    margin-top: 4px;
    margin-right: 3px;
    background-color: rgb(52, 54, 66);
    border: 1px solid black;
    box-shadow: 1px 1px 1px rgb(67, 69, 84) inset;
    height: 22px;
}

 .drop_down4 {
    width: 76px;
    margin-top: 4px;
    margin-right: 3px;
    background-color: rgb(52, 54, 66);
    border: 1px solid black;
    box-shadow: 1px 1px 1px rgb(67, 69, 84) inset;
    height: 22px;
}
.drop_down5 {
    width: 130px;
    height: 22px;
    margin-top: 6px;
    margin-right: 3px;
    background-color: rgb(52, 54, 66);
    border: 1px solid black;
    box-shadow: 1px 1px 1px rgb(67, 69, 84) inset;
}
 .hoga{
     width: 80px;
     margin-top: 5px;
     background-color: #323540;
     border: 1px solid black;
     height: 21px;
     box-shadow: 1px 1px 1px rgb(67, 69, 84) inset;
     font-size: 12px;
     font-weight: 400;
     cursor: pointer;
 }
.dis_flex{
     display: flex;
 }

 .edge_left{
    padding-left: 5px;
    width: 50%;
    text-align: left;
 }
 .edge_right{
    width: 50%;
    text-align: right;
 }

 .bord_word{
     font-weight: 900;
     font-size: 13px;
     padding-left: 10px;
     padding-right:8px;
     padding-top: 1px;
     margin-top: 7px;
     color: rgb(240, 240, 238);
 }
 .bord_word6{
    font-weight: 900;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 4px;
    padding-top: 1px;
    margin-top: 7px;
    color: rgb(240, 240, 238);
}

.bord_word7 {
    font-weight: 900;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 4px;
    padding-top: 1px;
    margin-top: 4px;
    color: rgb(240, 240, 238);
}

 #big_middleBar{
    display: block;
    margin-top: 4px;
  }
  #small_middleBar{
    display: block;
    margin-top: 4px;
  }

table#small_table{
    width: 100%;
    border-collapse: collapse;
    text-align: right;
}

table#small_table thead th{
    border : 1px solid black;
}

table#small_table tbody th{
    border-collapse: collapse;
    text-align: center;
    border: 1px solid black;
}
table#small_table td{
    width: 52%;
    border : 1px solid black;
}

.pos_left{
    position: relative;
    left: 4px
}
.pos_right{
    position: relative;
    right: 7px
}

#item_name{
    width: 16%;
}



 /* 테이블 */
 table.type20 {
    border-collapse: collapse;
    text-align: right;
    line-height: 2;
    margin-top: 3px;
  }

  table.type20 thead th {
    width: 150px;
    padding: 1px 7px 1px 7px;
    font-size: 12px;
    font-weight: 100;
    text-align: center;
    vertical-align: top;
    color: rgb(164, 165, 167);
    background: rgb(74, 77, 91);
    border-right: 1px solid black;
    margin: 20px 10px;
    box-shadow: 2px 2px 2px rgb(97 100 117) inset;
    border-bottom: 1px solid rgb(46, 50, 59);
  }
  table.type20 tbody th {
    text-align: right;
    font-size: 12px;
    color: white;
    border-right: 1px solid black;
    font-weight: 300;
    padding-right: 2px;
  }
  table.type20 td {
    /* width: 350px; */
    font-size: 12px;
    border-right: 1px solid black;
    color: white;
    font-weight: 400;
    /* border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc; */
  }
  .table_footer{
      color: rgb(185, 186, 184);
  }
  .back_gray{
      background-color: #474a53;
      box-shadow: 1px 1px 3px 1px #5a5e69 inset;
      color: rgb(200, 198, 198);
  }
  
  .back_gray2{
      background-color: #474a53;
      padding-top: 1px;
      box-shadow: 1px 1px 1px 1px #5e626e inset;
      color: rgb(200, 198, 198);
  }
  
.back_blue1{
    background-color: rgb(21, 66, 101);
    padding-right: 5px;
}
.back_blue2{
    background-color: rgb(16, 60, 95);
    padding-right: 5px;
}
.back_blue3{
    background-color: rgb(14, 55, 89);
    padding-right: 5px;
}
.back_blue4{
    background-color: rgb(13, 50, 81);
    padding-right: 5px;
}
.back_blue5{
    background-color: rgb(11, 45, 75);
    padding-right: 5px;
}
#back_red{
    background-color: rgb(223, 48, 69);
    color: white;
    font-weight: 500;
}
.back_red2{
    background-color: rgb(75, 11, 12);
}
.back_red3{
    background-color: rgb(81, 15, 17);
}
.back_red4{
    background-color: rgb(250, 203, 205);
}
.back_red5{
    background-color: rgb(89, 16, 18);
}

.back_red6{
    background-color: rgb(95, 17, 22);
}

.back_red7{
    background-color: rgb(101, 21, 28);
}
  table.type10 {
    border-collapse: collapse;
    text-align: right;
    line-height: 1.5;
    border-top: 1px solid black;
    margin-top: 10px;
  }

  table.type10 thead th {
    width: 150px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    vertical-align: top;
    color: rgb(163, 163, 165);
    background: rgb(69, 73, 86);
    border: 1px solid rgb(62, 68, 77);
    margin: 20px 10px;
    box-shadow: 1px 1px 3px rgb(97, 100, 117) inset;
    border-bottom: 1px solid rgb(46, 50, 59);
  }
  table.type10 tbody th {
    text-align: left;
    font-size: 12px;
    font-weight: 400;
    background-color: #323540;
    color: rgb(236, 237, 237);
    border-right: 1px solid rgb(29, 29, 29);
    border-bottom: 1px solid rgb(39, 41, 49);
    border-top: 1px solid rgb(39, 41, 49);
    padding-top: 1px;
    /* width: 150px;
    padding: 10px; */
  }
  table.type10 td {
    /* width: 350px; */
    padding: 3px;
    font-size: 13px;
    color: white;
    font-weight: 300;
    border-right: 1px solid rgb(39, 41, 49);
    background-color: #323540;
    border-bottom: 1px solid rgb(39, 41, 49);
  }
  table.type10 .even {
    background: #f1f1f1;
    background-color: #323540;
  }
  #text_center{
      text-align: center;
  }

  #text_left{
    text-align: left;
}

  .up{
      color: rgb(207, 66, 30);
  }
  .down{
      color: rgb(0, 119, 255);
  }
.white{
    color: white;
}

  #blue_bar{
    height: 20px;
    padding: 0;
    margin-bottom: 3px;
    border-bottom: 1px solid orange;
  }

  .white_box {
    width: 80px;
    width: 80px;
    color: white;
    font-weight: 400;
    font-size: 12px;
    padding-top: 3px;
    margin-left: 5px;
    margin-top: 5px;
    height: 18px;

    background-color: #323540;
    border: 1px solid black;
    box-shadow: 1px 1px 1px 1px rgb(39, 38, 38) inset;
}

.searchIcon{
    color: rgb(187, 189, 204);
    background-color: #474a53;
    border: 1px solid black;
    font-size: 13px;
    margin-top: 6px;
    margin-left: 3px;
    height: 18px;
    width: 18px;
    padding-left: 4px;
    padding-top: 2px;
    box-shadow: 1px 3px 6px rgb(98 100 119) inset;
    cursor: pointer;
}
.searchIcon:active{
    box-shadow: 1px 1px 1px gray inset;
}

.search1{
    width: 100%;
    height: 30px;
    margin-top: 1px;
}

.search2{
    width: 100%;
    height: 26px;
    margin-top: 3px;
}
.small_bar{
    width: 100%;
    height: 24px;
    margin-top: 5px;
    float: left;
}

.interest3{
    padding: 2px 4px 2px 3px;
    color: black;
    font-size: 12px;
    margin-top: 7px;
    margin-left: 3px;
    background-color: rgb(216, 154, 38);
    border: 1px solid black;
    box-shadow: 1px 1px 3px 1px rgb(251 202 111) inset;
    border-radius: 12%;
    cursor: pointer;
}
.interest3:active{
    box-shadow: 1px 1px 1px gray inset;
}

.hyundae{
    padding: 3px 7px 3px 7px;
    color: white;
    font-size: 13px;
    font-weight: 400;
    margin-top: 5px;
    margin-left: 6px;
    background-color: rgb(40, 42, 52);
}
.hyundae2{
    padding: 4px 24px 3px 10px;
    color: rgb(207, 0, 0);
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    margin-top: 5px;
    background-color: rgb(40, 42, 52);
}

.hyundae3{
    padding: 3px 6px 3px 3px;
    color: white;
    font-size: 11px;
    font-weight: 400;
    margin-top: 7px;
    margin-left: 2px;
    background-color: #262931;
}

.hyunda4{
    padding: 4px 7px 4px 7px;
    color: white;
    font-size: 13px;
    font-weight: 400;
    margin-top: 6px;
    margin-left: 6px;
    background-color: rgb(40, 42, 52);
}

.small_box{
    padding: 1px 6px 3px 3px;
    color: rgb(82, 82, 82);
    width: 33px;
    height: 15px;
    font-size: 11px;
    font-weight: 800;
    margin-top: 6px;
    margin-left: 2px;
    background-color: #262931;
}

.small_box2{
    color: rgb(82, 82, 82);
    width: 45px;
    height: 16px;
    font-size: 11px;
    font-weight: 800;
    margin-top: 6px;
    margin-left: 2px;
    background-color: #323540;
    border: 1px solid black;
    box-shadow: 1px 1px 5px rgb(39, 38, 38) inset;
}

.small_box3{
    color: rgb(82, 82, 82);
    width: 10px;
    height: 13px;
    font-size: 11px;
    font-weight: 800;
    margin-top: 10px;
    margin-left: 7px;
    background-color: #1e2025;
}

.increase{
    padding: 5px 20px 5px 3px;
    color: rgb(207, 0, 0);
    font-size: 12px;
    font-weight: 900;
    text-align: center;
    margin-top: 5px;
    margin-left: 2px;
    background-color: rgb(40, 42, 52);
}

#right_margin{
    margin-right: 160px;
}

.bord_word2 {
    font-weight: 400;
    font-size: 12px;
    padding-left: 17px;
    padding-right: 8px;
    padding-top: 6px;
    margin-top: 2px;
    color: rgb(202, 202, 202);
}
.bord_word3 {
    font-weight: 400;
    font-size: 11px;
    padding-left: 3px;
    padding-right: 8px;
    padding-top: 6px;
    margin-top: 2px;
    color: rgb(228, 228, 228);
}
.bord_word4 {
    font-weight: 400;
    font-size: 11px;
    padding-left: 5px;
    padding-right: 0px;
    padding-top: 6px;
    margin-top: 2px;
    color: rgb(205, 205, 205);
}
.bord_word5 {
    font-weight: 400;
    font-size: 11px;
    padding-left: 3px;
    padding-right: 8px;
    padding-top: 6px;
    margin-top: 1px;
    color: white;
}

#outcircle{
    display: flex;
    width:12px;
    height:12px;
    background-color: #1a1b1f;
    border-radius: 50%;
    margin-top: 2px;
  }
#incircle{
    margin: auto;
    background-color: rgb(212, 139, 2);
    width:4px;
    height:4px;
    border-radius: 50%;
  }

  input[id="cb1"] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 10px 2px 3px 4px;
    padding: initial;
    border: initial;
}

 /*radio 버튼 색상변경 */
 input[type='radio'] {
    -webkit-appearance:none;
    width: 11px;
    height: 11px;
    border:1px solid rgb(143, 131, 124);
     border-radius:50%;
    outline:none;
    background:white;
    margin-top: 10px;
  }
  input[type='radio']:before {
    content:'';
    display:block;
    width:60%;
    height:60%;
    margin: 20% auto;  
    border-radius:50%;  
  }
  input[type='radio']:checked:before {
  	background:orange;
  }

 

.text_box1{
    margin-top: 8px;
    font-size: 11px;
    width: 73px;
    height: 16px;
    color: rgb(240, 240, 238);
    background-color: #30323c;
    border: 1px solid black;
    box-shadow: 1px 1px 5px rgb(39 38 38) inset;
  }

.text_box2{
    width: 60px;
    height: 16px;
    color: rgb(240, 240, 238);
    font-size: 11px;
    margin-left: 6px;
    margin-top : 6px;
    margin-right: 2px;
    background-color: #30323c;
    border: 1px solid black;
    box-shadow: 1px 1px 5px rgb(39 38 38) inset;
  }

.text_box3{
    color : rgb(240, 240, 238);
    font-size: 11px;
    font-weight: 400;
    margin-left: 0px;
    margin-top: 5px;
    margin-right: 2px;
    width: 125px;
    height: 16px;
    text-align: right;

    background-color: #30323c;
    border: 1px solid black;
    box-shadow: 1px 1px 5px rgb(39 38 38) inset;
  }


  .text_box4 {
    color: rgb(240, 240, 238);
    font-size: 11px;
    font-weight: 400;
    margin-left: 0px;
    margin-top: 5px;
    margin-right: 2px;
    width: 125px;
    height: 16px;
    background-color: #30323c;
    border: 1px solid black;
    box-shadow: 1px 1px 5px rgb(39 38 38) inset;
}

.password_box{
    text-align: right;
    color: rgb(82, 82, 82);
    width: 45px;
    height: 14px;
    font-size: 11px;
    font-weight: 800;
    margin-top: 5px;
    margin-left: 0px;
    background-color: #30323c;
    border: 1px solid black;
    box-shadow: 1px 1px 5px rgb(39 38 38) inset;
  }