ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav{
    display: block;
    border-bottom: solid orange 1px;
    position: absolute;
}

.list_nav{
    float:left;
    line-height: 10px;
    font-weight: 900;
}


#wrap{
    margin: 10px;
}
/* 상단바 관심종목부터 왼쪽에서 정렬 */
.horizontal_left{ 
    float: left;
    padding-left: 3px;
}
.horizontal_right{
    float: right;
}

#text_right{
    float: right;
    margin-right: 3px;
    font-size: 12px;
}
/* float 한 다음에는 clear both를 해제해야함 : clear both를 부여할 가짜
요소를 만들어준다. container안에 실제로 없는 마지막 박스를 만들고 부여함 */
/* #container:after{
    content:"";
    display: block;
    clear: both;
} */

/* 상단바 기본 스타일*/
.top_nav{
    float: left;
    height: 27px;
    font-weight: 900;
    margin: 0;
    padding-bottom: 1px;
    display: block;
    background-color: #323540;
}
.bottom_nav{
    float: left;
    height: 24px;
    font-weight: 500;
    margin: 0;
    padding-bottom: 1px;
    font-size: 12px;
    display: block;
    color: orange;
    padding-left: 5px
}

.rightBtn{
    float: right;
}
.nav_btn{
    font-size: 13px;
    font-weight: 400;
    color: rgb(204, 204, 204);
    background-color: #474a53;
    border: black solid 1px;
    padding: 2px 8px 2px 8px;
    box-shadow: 1px 0.5px 0.5px 0.5px #6c707c inset;
}

.nav_blue_line{
    padding : 3px 10px 2px;
    font-size: 13px;
    font-weight: 400;
    color: white; /* 글자색 */
    background-color: #474a53; /*바탕색*/
    border: black solid 1px;
}

.next{
    margin: 1px;
    border: 0;
    padding: 0;
    float: right;
}

/* 상단바 클릭했을 때 나타나는 스타일*/
.current {
    background-color: #5f37d4;
    color: white;
}
.current_blue {
    background-color: #174075;
    color: white;
    margin-left: 7px;
}
/* 버튼 */
/* 이전/다음 버튼 */
.nextButton {
      font-size:1px;
      color: rgb(143, 143, 143);
      padding: 2px;
      height: 20px;
      display: block;
      border: 1px solid black;
      background-color: #474a53;
}

.nextPage {
    font-size: 12px;
    font-weight: 900;
    color: white;
    padding-left: 11px;
    padding-right: 11px;
    height: 24px;
    display: block;
    margin-top: 2px;
    padding-top: 0px;
    background-color: #474a53;
    margin-right: 5px;
}

.possible_btn {
    font-size: 12px;
    font-weight: 400;
    color: white;
    padding-left: 9px;
    padding-right: 9px;
    height: 22px;
    display: block;
    margin-top: 7px;
    padding-bottom: 2px;
    padding-top: 0px;
    background-color: #474a53;
}

.sell_btn{
    font-weight: 400;
    font-size: 13px;
    background-color: #174075;
    margin: 0px 0px 1px 131px;
    width: 70px;
    height: 24px;
    color: white;
    padding-left: 1px;
    padding-right: 1px;
    border: 1px solid black;
    box-shadow: 1px 1px 3px 1px rgb(59, 74, 211) inset;
}
.erase_btn{
    font-weight: 400;
    font-size: 13px;
    background-color: #474a53;
    margin: 0px 0px 1px 0px;
    width: 70px;
    height: 24px;
    color: white;
    border: 1px solid black;
    box-shadow: 1px 0.5px 0.5px 0.5px #6c707c inset;
}
/* 조회 버튼 */
.lookupButton{
    float: right;
    font-weight: 900;
    padding: 0;
    background-color: rgb(248, 167, 61);
    margin : 6px 5px 5px 3px;
    width : 40px;
    color: black;
    border: 1px solid rgb(140, 140, 140);
    height: 25px;
    font-size: 13px;
}
#lookupButton2{
    float: right;
    font-weight: 900;
    font-size: 12px;
    padding: 8px 9px 5px 10px;
    background-color: rgb(248, 167, 61);
    margin: 12px 7px 2px 3px;
    width: 48px;
    height: 39px;
    color: black;
    border: 1px solid rgb(189, 138, 44);
}
.button{
    padding: 1px;
    font-size: 13px;
}
.buttonRegist{
    width: 68px;
    color: white;
    border: 1px solid black;
    font-weight: 100;
    font-size: 12px;
    padding-left: 2px;
    padding-right: 2px;
    margin-right: 15px;
    margin-top: 4px;
    background-color: #474a53;;
}

/* 4개 박스로 나누기 */
.wrap-box{
    position : absolute;
    width : 1150px;
}
.left-box {
    position: absolute;
    left: 19.8%;
    width: 755px;
    height: 790px;
    top: 10%;
    background-color: #323540;
    display: block;
    padding: 12px 9px 10px 9px;
  }
.right-box {
    position: absolute;
    left: 60%;
    width: 380px;
    height: 790px;
    top: 10%;
    background-color: #323540;
    display: block;
    padding: 12px 9px 10px 9px;
  }
.top{
    height: 460px;
    background-color: #323540
}
.bottom{
    position: absolute;
    background-color: #323540;
    border: 1px solid rgb(70, 70, 70);
    height: 330px;
}

  /* 상단바 스타일 지정 */
#bar_top{
    height: 27px;
    padding: 0;
    margin-bottom: 4px;
    background-color: #323540;
}

#bar_bottom{
    height: 20px;
    padding: 0;
}
#bar_top_blue{
    height: 20px;
    padding: 0;
    margin-bottom: 3px;
}
/* 중간바 스타일 2 */
#bar_middle{
    height: 30px;
    padding: 0;
}
#bar_middle2{
    height: 62px;
    width: 753px;
    padding: 0;
    background-color: #323540;
    border: 1px solid rgb(70, 70, 70);
}
#bar_blue{
    height: 300px;
}
.interest{
    width: 753px;
    background-color: #f1f1f1;
    border: 1px solid rgb(70, 70, 70);
    height: 34px;
    line-height: 15px;
    background-color: #323540;
}


.interest2{
    width: 378px;
    background-color: #f1f1f1;
    border: 1px solid black;
    height: 33px;
    line-height: 12px;
    background-color: #323540;
}

.interest4{
    display: block;
    width: 753px;
    background-color: #f1f1f1;
    border: 1px solid rgb(218, 218, 218);
    height: 60px;
    line-height: 15px;
    margin-bottom: 10px;
}

#interest5{
    display: block;
    width: 50px;
    font-size: 11px;
    font-weight: 900;
    border: 1px solid rgb(218, 218, 218);
    height: 20px;
    line-height: 40px;
    margin-left: 5px;
    color: rgb(75, 75, 75);
}
/* .dang{
    display: block;
    position: absolute;
    top: ;
} */

.right_middlebar{
    width: 380px;
    background-color: #f1f1f1;
    height: 26px;
    line-height: 15px;
}

.blue_middlebar{
    width: 380px;
    height: 280px;
    line-height: 15px;
    background-color: #323540;
}

  /* 중간바 스타일 지정 */
.middleBar{
      display: block;
      background-color: #f1f1f1; /*바탕색*/
      /* border-top: 10px solid white;
      border-bottom: 10px solid white; */
      height: 22px;
      border: 1px solid rgb(216, 216, 216);
      margin: 5px 0px 5px;
      font-size: 5px;
      font-weight: 900;
      color: rgb(92, 92, 92);
 }
 .middleBar.left{
    width: 753px;
 }
 .middleBar.right{
    width: 380px;
 }

 /* 드롭다운 박스 */
 select{
     height: 18px;
     color: white;
     font-size: 11px;
     font-weight: 400;
     margin: 0px;
 }
 .drop_down{
    margin-top: 5px;
    width: 140px;
    background-color: #323540;
    border: 1px solid black;
 }

 .drop_down2 {
    width: 106px;
    margin-top: 7px;
    margin-right: 3px;
    background-color: #323540;
    border: 1px solid black;
    font-weight: 400;
    color: white;
}

 .drop_down3 {
    width: 90px;
    color: white;
    margin-top: 4px;
    margin-right: 3px;
    background-color: #323540;
    border: 1px solid black;
}

 .drop_down4 {
    width: 65px;
    margin-top: 4px;
    margin-right: 3px;
    background-color: #323540;
    border: 1px solid black;
}
.drop_down5 {
    width: 130px;
    margin-top: 6px;
    margin-right: 3px;
    background-color: #323540;
    border: 1px solid black;
}
 .hoga{
     width: 60px;
     margin-top: 5px;
     background-color: #323540;
     border: 1px solid black;
 }
.dis_flex{
     display: flex;
 }

 .edge_left{
    padding-left: 5px;
    width: 50%;
    text-align: left;
 }
 .edge_right{
    width: 50%;
    text-align: right;
 }

 .bord_word{
     font-weight: 900;
     font-size: 13px;
     padding-left: 10px;
     padding-right:8px;
     padding-top: 3px;
     margin-top: 3px;
     color: white;
 }

 #big_middleBar{
    display: block;
    margin-top: 4px;
  }
  #small_middleBar{
    display: block;
    margin-top: 4px;
  }


 /* 테이블 */
 table.type20 {
    border-collapse: collapse;
    text-align: right;
    line-height: 2;
    border: 1px solid black;
    margin-top: 3px;
  }

  table.type20 thead th {
    width: 150px;
    padding: 1px 7px 1px 7px;
    font-size: 12px;
    font-weight: 100;
    text-align: center;
    vertical-align: top;
    color: rgb(200, 198, 198);
    background: #474a53;
    border-right: 1px solid black;
    margin: 20px 10px;
    box-shadow: 1px 1px 3px 1px #5a5e69 inset;
  }
  table.type20 tbody th {
    text-align: right;
    font-size: 12px;
    color: white;
    border-right: 1px solid black;
    font-weight: 300;
    padding-right: 2px;
  }
  table.type20 td {
    /* width: 350px; */
    font-size: 12px;
    border-right: 1px solid black;
    color: white;
    font-weight: 400;
    /* border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc; */
  }
  .back_gray{
      background-color: #474a53;
      box-shadow: 1px 1px 3px 1px #5a5e69 inset;
      color: rgb(200, 198, 198);
  }
  
  .back_gray2{
      background-color: #474a53;
      padding-top: 1px;
      box-shadow: 1px 1px 1px 1px #5e626e inset;
      color: rgb(200, 198, 198);
  }
  
.back_blue1{
    background-color: rgb(57, 101, 136);
    padding-right: 5px;
}
.back_blue2{
    background-color: rgb(52, 90, 122);
    padding-right: 5px;
}
.back_blue3{
    background-color: rgb(43, 84, 117);
    padding-right: 5px;
}
.back_blue4{
    background-color: #1f4a6b;
    padding-right: 5px;
}
.back_blue5{
    background-color: #123959;
    padding-right: 5px;
}
#back_red{
    background-color: #df3145;
    color: white;
    font-weight: 500;
}
.back_red2{
    background-color: #5a1115;
}
.back_red3{
    background-color: rgb(110, 22, 26);
}
.back_red4{
    background-color: rgb(250, 203, 205);
}
.back_red5{
    background-color: rgb(126, 27, 32);
}

.back_red6{
    background-color: rgb(139, 33, 38);
}

.back_red7{
    background-color: rgb(155, 39, 45);
}
  table.type10 {
    border-collapse: collapse;
    text-align: right;
    line-height: 1.5;
    border-top: 1px solid black;
    margin-top: 10px;
  }

  table.type10 thead th {
    width: 150px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    vertical-align: top;
    color: rgb(200, 198, 198);
    background: #474a53;
    border: 1px solid #393b3d;
    margin: 20px 10px;
    box-shadow: 1px 0.5px 0.5px 0.5px #6c707c inset;
  }
  table.type10 tbody th {
    text-align: left;
    font-size: 12px;
    font-weight: 400;
    background-color: #323540;
    color: white;
    border-right: 1px solid rgb(29, 29, 29);
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding-top: 1px;
    /* width: 150px;
    padding: 10px; */
  }
  table.type10 td {
    /* width: 350px; */
    padding: 3px;
    font-size: 13px;
    color: white;
    font-weight: 300;
    border-right: 1px solid rgb(29, 29, 29);
    background-color: #323540;
    border-bottom: 1px solid black;
  }
  table.type10 .even {
    background: #f1f1f1;
    background-color: #323540;
  }
  #text_center{
      text-align: center;
  }

  #text_left{
    text-align: left;
}

  .up{
      color: rgb(207, 66, 30);
  }
  .down{
      color: rgb(0, 119, 255);
  }
.white{
    color: white;
}

  #blue_bar{
    height: 20px;
    padding: 0;
    margin-bottom: 3px;
    border-bottom: 1px solid orange;
  }

  .white_box {
    width: 80px;
    width: 80px;
    color: white;
    font-weight: 400;
    font-size: 12px;
    padding: 1px;
    margin-left: 10px;
    margin-top: 7px;
    background-color: #262931;
    border: 1px solid black;
    height: 16px;
}

.searchIcon{
    color: rgb(170, 169, 169);
    font-size: 13px;
    margin-top: 5px;
    margin-left: 3px;
    background-color: #5b5d68;
    border: 1px solid black;
    height: 19px;
    padding-right: 4px;
    padding-top: 1px;
}

.search1{
    width: 753px;
    height: 30px;
    margin-top: 1px;
}

.search2{
    width: 753px;
    height: 26px;
    margin-top: 3px;
}
.small_bar{
    width: 370px;
    height: 24px;
    margin-top: 5px;
}

.interest3{
    padding: 2px 4px 4px 3px;
    color: black;
    font-size: 12px;
    margin-top: 6px;
    margin-left: 3px;
    background-color: rgb(216, 154, 38);
    border: 1px solid black;
    box-shadow: 1px 1px 3px 1px rgb(251 202 111) inset;
}

.hyundae{
    padding: 5px 7px 5px 7px;
    color: white;
    font-size: 13px;
    font-weight: 400;
    margin-top: 5px;
    margin-left: 2px;
    background-color: #262931;
}
.hyundae2{
    padding: 5px 27px 5px 10px;
    color: rgb(207, 0, 0);
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    margin-top: 6px;
    background-color: #262931;
}

.hyundae3{
    padding: 1px 6px 3px 3px;
    color: white;
    font-size: 11px;
    font-weight: 400;
    margin-top: 3px;
    margin-left: 2px;
    background-color: #262931;
}
.small_box{
    padding: 1px 6px 3px 3px;
    color: rgb(82, 82, 82);
    width: 33px;
    height: 15px;
    font-size: 11px;
    font-weight: 800;
    margin-top: 6px;
    margin-left: 2px;
    background-color: #262931;
}

.small_box2{
    color: rgb(82, 82, 82);
    width: 45px;
    height: 16px;
    font-size: 11px;
    font-weight: 800;
    margin-top: 6px;
    margin-left: 2px;
    background-color: #323540;
    border: 1px solid black;
    box-shadow: 1px 1px 1px 1px rgb(39, 38, 38) inset;
}

.small_box3{
    color: rgb(82, 82, 82);
    width: 10px;
    height: 13px;
    font-size: 11px;
    font-weight: 800;
    margin-top: 10px;
    margin-left: 7px;
    background-color: #1e2025;
}


.small_box4{
    color: white;
    width: 127px;
    height: 19px;
    font-size: 11px;
    font-weight: 300;
    margin-top: 6px;
    margin-left: 2px;
    background-color: #323540;
    border: 1px solid black;
    box-shadow: 1px 1px 1px 1px rgb(39, 38, 38) inset;
}

.increase{
    padding: 4px 20px 4px 3px;
    color: rgb(207, 0, 0);
    font-size: 12px;
    font-weight: 900;
    text-align: center;
    margin-top: 6px;
    margin-left: 2px;
    background-color: #1e2025;
}

#right_margin{
    margin-right: 160px;
}

.bord_word2 {
    font-weight: 400;
    font-size: 12px;
    padding-left: 17px;
    padding-right: 8px;
    padding-top: 6px;
    margin-top: 2px;
    color: rgb(202, 202, 202);
}
.bord_word3 {
    font-weight: 400;
    font-size: 11px;
    padding-left: 7px;
    padding-right: 8px;
    padding-top: 6px;
    margin-top: 2px;
    color: rgb(228, 228, 228);
}
.bord_word4 {
    font-weight: 400;
    font-size: 11px;
    padding-left: 5px;
    padding-right: 0px;
    padding-top: 6px;
    margin-top: 2px;
    color: white;
}
.bord_word5 {
    font-weight: 400;
    font-size: 11px;
    padding-left: 3px;
    padding-right: 8px;
    padding-top: 6px;
    margin-top: 1px;
    color: white;
}

#outcircle{
    display: flex;
    width:12px;
    height:12px;
    background-color: #1a1b1f;
    border-radius: 50%;
    margin-top: 2px;
  }
#incircle{
    margin: auto;
    background-color: rgb(212, 139, 2);
    width:4px;
    height:4px;
    border-radius: 50%;
  }