ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 755px;
    
    
    display: block;
    border-bottom: solid orange 1px;
    position: absolute;


}
ul a{
    border-bottom: solid white 1px;
}


/* 상단바 관심종목부터 왼쪽에서 정렬 */
li { float: left; }

/* 상단바 기본 스타일*/
li a{
    padding : 2px 10px 2px;
    font-size: 5px;
    font-weight: 900;
    color: rgb(90, 90, 90); /* 글자색 */
    background-color: #f1f1f1; /*바탕색*/
    border: rgb(195, 193, 193) solid 1px;
    border-bottom: white;
}

/* 상단바 클릭했을 때 나타나는 스타일*/
li a.current {
    background-color: white;
    color: black;
    border-top: 1.5px solid orange;
    border-left: 1px solid orange;
    border-right: 1px solid orange;
    border-bottom: white;
}

.button {
      float: right;
      font-size:1px;
      color: rgb(143, 143, 143);
      background-color: rgb(230, 227, 227);
      padding: 2px;
      border  : 1px solid rgb(190, 190, 190);
      margin : 1px;
}


/* 세로 나누기 */
.left-box {
    position: absolute;
    top: 0; left: 0;
    background: red;
  }
  .right-box {
    position: absolute;
    top: 0; left: 770px;
    background: blue;
  }